<!DOCTYPE html>
<html>
    <head>
        <title>Master Mind</title>
        <link href="https://fonts.googleapis.com/css?family=Calibri&display=swap" rel="stylesheet" />
        <link href="../styles/styles.css" rel = "stylesheet"/>
    </head>
    <body>
        <div class="frame">
            <div class="menubar">
                <span class="title">MASTER MINDS</span>
                <button class="login_button">
                    <span style="padding: 12px;">Login</span>
                </button>
                <button class="register_button">
                    <span style="padding: 5px;">Register</span>
                </button>
            </div>
            <div class="main">
                <div class="wave2"></div>
                <div class="wave1"></div>
                <div class="logo">
                </div>
                <span class="desc">About:<br/>Master Minds is a knowledge sharing platform where people can create forums to discuss any topic or subject.Master Minds has an open Community which can be joined by any one wanting to learn about anything, ask questions, answer other questions and take advantage of peer-to peer learning.</span>
            </div>
            
        </div>
    </body>
</html> 

