body {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;

}

html{
    background-color: black;
    height: 100%;
}

#header_wrapper {
    width: 100%;
    min-width: 980px;
    background-color:  rgba(243, 117, 76, 0.65);
}

#header {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    height: 85px;
    background-color:  rgba(243, 117, 76, 0.65);
}
    #header .heading{
        float: left;
        margin: 20px;
    }

    #header form {
        margin-top: 15px;
        float: right;
        margin-right: 30px;
        
    }

        #header form div {
            font-size: 13px;
            margin-left: 15px;
            display: inline;
        }


        #header form input[type="text"] {
            margin-top: 3px;
            margin-bottom: 3px;
            width: 150px;
            border: 1px solid #08298A;
            height: 25px;
            padding-left: 3px;
        }

        #header form input[type="password"] {
            margin-top: 3px;
            margin-bottom: 3px;
            width: 150px;
            border: 1px solid #08298A;
            height: 25px;
            padding-left: 3px;
        }

#wrapper {
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    width: 980px;
}
#div_id_email{
    float: left !important;
    margin-bottom: 5px;
}
    #wrapper div {        
        font-family: helvetica, arial, sans-serif;
    }

    #wrapper #div1 {
        margin-top: 30px;
        width: 590px;
        text-align: left;
        float: left;
    }

    #wrapper #div2 {
        margin-top: 10px;
        width: 390px;
        float: right;
        text-align: left;
    }

        #wrapper #div2 h1 {
            margin: 0px;
            font-size: 37px;

        }

        #wrapper #div2 p {
            font-size: 12px;
        }

        #wrapper #div2 li {
            list-style-type: none;
            font-size: 10px;
            margin-top: 10px;

        }

            #wrapper #div2 li a {
                margin-left: 10px;
                width: 150px;
                color: #045FB4;
                text-decoration: none;
                font-size: 11px;
                display: inline-block;
                vertical-align: middle;
                line-height: 15px;
            }

        #wrapper #div2 li {
            font-size: 12px;
            color: white;
        }

        #wrapper #div2 #terms {
            color: #424242;
            font-size: 11px;
        }

            #wrapper #div2 #terms a {
                display: inline;
                margin: 0px;
            }

