.background{
    background:linear-gradient(260.47deg, #000000 42.81%, rgba(243, 117, 76, 0.65) 94.08%);
    height: 100vh;
}
.desc{
    color: rgba(255,255,255,0.65);
    font-family: Calibri;
    font-weight: Bold;
    font-size: larger;
   
}
.empty{
    height: 150px;
}

.sidebar {
    background-color: gray;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.chatlist {
    background-color: black;
}
.chatview{
    background:linear-gradient(260.47deg, #000000 42.81%, rgba(243, 117, 76, 0.65) 94.08%); ;
}
