
  body {
    font-size: 14px;
  }
  .frame {
    position: relative;
    width: 1280px;
    height: 720px;

    background: #1E1E1E;
  }
  .menubar {
    position: relative;
    width: 100%;
    height: 65px;
    left: 0px;
    top: 0px;

    background: #F3754C;
  }
  .title {
    width: 250px;
    color: rgba(0,0,0,0.800000011920929);
    position: absolute;
    top: 15px;
    left: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Calibri;
    font-weight: Bold;
    font-size: 28px;
    opacity: 1;
    text-align: center;
  }
  .login{
    position: absolute;
    width: 95px;
    height: 33px;
    left: 1020px;
    top: 15px;
    background: #1E1E1E;
    border-radius: 30px;


    align-items: center;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    text-align:end;
    letter-spacing: 0.17em;
    color: #FFFFFF;
  }
  .register_button {
    position: absolute;
    width: 95px;
    height: 33px;
    left: 1130px;
    top: 15px;
    
    background: #1E1E1E;
    border-radius: 30px;

    align-items: center;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    text-align:center;
    letter-spacing: 0.17em;
    color: #FFFFFF;
  }
  .main {
    position: absolute;
    width: 1280px;
    height: 650px;
    left: 0px;
    top: 70px;
    background: linear-gradient(89.55deg, #0B0A0A 0.43%, rgba(243, 117, 76, 0.65) 99.66%);
  }

  .wave2 {
    position: absolute;
    width: 1280px;
    height: 362px;
    left: 0px;
    top: 290px;
    
    background: linear-gradient(260.47deg, #000000 42.81%, rgba(243, 117, 76, 0.65) 94.08%);
    mix-blend-mode: overlay;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .logo {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 100px;
    overflow: hidden;
  }
  .desc {
    width: 548px;
    color: rgba(255,255,255,0.65);
    position: absolute;
    top: 150px;
    left: 645px;
    font-family: Calibri;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .wave1 {
    position: absolute;
    width: 650px;
    transform: rotate(-90deg);
    height: 320px;
    left: 800px;
    top: 160px;

    background: linear-gradient(265.77deg, #000000 27.45%, rgba(243, 117, 76, 0.65) 74.71%);
    mix-blend-mode: overlay;
    
}

.wave1::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;

    background-color:  rgba(243, 117, 76, 0.65);
    z-index: -1;
}

.wave1::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color:  rgba(243, 117, 76, 0.65);
   
    z-index: -1;
}
.wave2::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 45%;
    height: 80%;
    background-color:  rgba(243, 117, 76, 0.65);
}

.wave2::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 45%;
    height: 80%;
    background-color:  rgba(243, 117, 76, 0.65);
    
    z-index: -1;
}