<!DOCTYPE html>
{% block content %} 
{% load static %}
{% load crispy_forms_tags %}   
<html>
    <head>
        <title>Login | Master Minds</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" type="image/x-icon" href="{% static 'assets/logo_size_invert.jpg' %}" alt = 'logo'/>
        
        <link href="https://fonts.googleapis.com/css?family=Calibri&display=swap" rel="stylesheet" />


        <link href="{% static 'styles/styles.css' %}" rel = "stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        
    </head>
    <nav class="navbar navbar-expend-md navbar-light" style="background-color:#F3754C;" >
        <a href="{% url 'home' %}"class="navbar-brand h1 mb-0">
            <img class="d-inline-block align-top"
            src="{% static 'assets/logo_size.jpg' %}" alt="logo" width="50" height="50"/>
            <h2 class="d-inline-block mt-1">Master Minds</h2>
        </a>
        <buton class="navbar-toggler"
            type="button" 
            data-bs-toggle="collapse"
            data-bs-target="#navBar"
            aria-controls="navbarBar"
            aria-expanded="false"
            aria-label="Toggle Navgation"
            >
            <span class="navbar-toggler-icon"></span>
        </buton>
        <div class="collapse navbar-collapse" id="navBar">
                <ul class="navbar-nav float-right">
                    <li class="nav-item active nav-link" > 
                        <a href="{% url 'register' %}" style="color:black ;">Register</a>
                    </li>
                    <li class="nav-item active nav-link" >
                        <a href="{% url 'home' %}" style="color:black ;">Home</a>
                        
                    </li>
                </ul>
        </div>
    </nav>
    <body>
        <div class="container-fluid background">
            <div class="row empty"></div>
            <div class="border border-white-4 col-sm-6  offset-sm-3">
                <div class="wrapper mt-2" >
                    <h1 style="color:white ; margin-left: 10px; ">Login</h1>
                    <form method="POST" style="color: white; margin-left: 10px;"> 
                        {% csrf_token %}
                        {{ login_form|crispy }}                    
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                    <p style="margin-left: 10px; color: white;">Do not have an account?, <a href="{% url 'register' %}">register.</a></p>
                </div>
            </div>

        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    {% endblock %}
</html>