<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>{{ user.username }} | Master Minds</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" type="image/x-icon" href="{% static 'assets/logo_size_invert.jpg' %}" alt = 'logo'/>
        
        <link href="https://fonts.googleapis.com/css?family=Calibri&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link href="{% static 'styles/styles.css' %}" rel = "stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

        
        <div class="modal fade mt-5" tabindex="-1" role="dialog" id="modal" style="opacity: 1;">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content"></div>
            </div>
        </div>
        
    </head>
    <body>
        <div class="container-fluid" style="height: 100vh;">
            <div class="row h-100" >
                <div class="col-1 col-sm-1 sidebar">
                    <div class="container">
                        <a id="join-subject" type="button">
                            <img class = "mx-auto d-block" src="{% static 'assets/join_class.png' %}"height = 35px width="inherit" alt="Join Class" data-toggle = 'tooltip' title = 'Join a Class/Forum'>
                        </a>
                        <a id="add-subject" type="button">
                            <img  class = "mx-auto d-block mt-5"src="{% static 'assets/Add_subject.jpg' %}" alt="add subject" height="35px" width="inherit"data-toggle = 'tooltip' title="Add a subject/forum">
                        </a>
                    </div>
                </div>
                <div class="col-3 col-sm-3 chatlist" style="padding: 0;">
                    <nav class="navbar navbar-light " style="background-color: #F3754C;">
                        <h3 class = "navbar-brand" style="margin-left: 5px; font-size: 1.5rem;">{{user.username}}</h3>
                    </nav>
                    <div class="overflow-auto">
                        <div  class = "list-group" id="list-tab" role="tablist">
                            {% for subject in subjects %}
                            <li style="min-height: 70px; border-radius: 10px;">
                                 <a
                                class="list-group-item list-group-item-action mt-2"
                                id="list-subject-list"
                                data-toggle="list"
                                onclick="chatClicked(this.innerText)"
                                role="tab"
                                style="
                                    border-bottom: 2px;
                                    border-bottom-style: solid;
                                    border-bottom-color: white;
                                    min-height: 70px;
                                    font-size: 1.25rem;
                                    "
                                >
                                {{ subject.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                {% include 'main/chatview.html'%}
            </div>
        </div>
        
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        
            $("#add-subject").modalForm({
                formURL: "{% url 'main:add' %}"
            });
        
        });
    </script>
    <script>
        $(document).ready(function() {
        
        $("#join-subject").modalForm({
            formURL: "{% url 'main:join' %}"
        });
    
    });
    </script>
    <script>
        function chatClicked(subject_name)
        {
            var header;
            header = document.getElementById('chatview_nav');
            header.innerText = subject_name;
            var box = document.getElementById('inputbox');
            if (box == null){
            var html = '<input type="text" class="form-control form-control-lg " id="inputbox" placeholder="Type message" ><a class="ms-3" href="#!"><i class="bi bi-send " id="sendButton"></i></a>'
            document.getElementById('chatbox').innerHTML += html
            }
            
        }
    </script>

</html>